@charset "UTF-8";
/*import fichier varibales.Scss*/
@font-face {
  font-family: 'averta_demo_peregular';
  src: url("font/avertaregular-webfont.woff") format("woff2"), url("font/avertaregular-webfont.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*---------------Global------------*/
body {
  font-family: averta_demo_peregular;
  margin: 0px;
  color: #472b2b;
  max-width: 100%;
}

/*---------------Header & Nav------------*/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #3C3C3C;
  font-family: 'Franklin Gothic Heavy','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  /*application imbrication*/
}

header nav {
  width: 80%;
  margin-right: 0%;
}

header ul {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 4%;
  margin-right: 4%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header li {
  padding: 1%;
  list-style: none;
}

header a {
  text-decoration: none;
  color: #3C3C3C;
}

header a:hover, header .curent {
  color: #00B3FA;
}

/*fin imbrication*/
/*---------------Main-----------*/
section {
  position: relative;
  /*application imbrication*/
}

section .position {
  position: absolute;
  margin-left: 30px;
  margin-top: 220px;
}

section .position P {
  color: white;
  line-height: 0.8em;
}

section .size {
  font-size: 60px;
  font-weight: bold;
}

section .size1 {
  font-size: 25px;
}

/*fin imbrication*/
.position button {
  width: 50%;
  margin-left: 90px;
}

.flex {
  position: relative;
  bottom: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  /*application imbrication*/
}

.flex button {
  background-color: #272727;
  color: white;
  height: 50px;
  margin-top: 10px;
}

.flex h1 {
  font-weight: bold;
  color: white;
}

/*fin imbrication*/
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  /*application imbrication*/
}

.container p {
  font-size: 38px;
  font-weight: bold;
  margin-right: 20px;
}

/*fin imbrication*/
h2 {
  text-align: center;
  border-bottom: 2px solid gray;
  line-height: 0.1em;
  margin: 10px 0 20px;
  /*application imbrication*/
}

h2 span {
  background: #fff;
  padding: 0 10px;
}

/*fin imbrication*/
.milieu {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.container2 {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

/*mixine appliqué sur .item2 et .item3*/
.item1 {
  width: 20%;
  background-color: #00B3FA;
  color: white;
  text-align: center;
  border-radius: 3px;
}

.item2 {
  width: 20%;
  border: 3px solid #00B3FA;
  color: #00B3FA;
  text-align: center;
  border-radius: 3px;
}

.item3 {
  width: 20%;
  border: 3px solid #00B3FA;
  color: #00B3FA;
  text-align: center;
  border-radius: 3px;
}

.container3 {
  margin-top: 80px;
  margin-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  /*application imbrication*/
}

.container3 img {
  -webkit-filter: drop-shadow(0px 5px 3px gray);
          filter: drop-shadow(0px 5px 3px gray);
}

/*---------------Footer------------*/
footer {
  background-color: #00B3FA;
  color: white;
  padding: 5% 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Averta', Arial, Helvetica, sans-serif;
  margin: 1vh auto 0 auto;
  /*application imbrication*/
}

footer img {
  width: 40px;
  height: 40px;
  vertical-align: middle;
  margin-right: 4px;
}

footer nav {
  width: 100%;
}

footer ul {
  margin: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer li {
  padding: 1%;
  list-style: none;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: #3C3C3C;
}

/*fin imbrication*/
