* {
    line-height: 2vh;
    font-size: 2vh;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
}

body {
    width: 80%;
    margin: 0% auto;
}

#wrapper {
    margin: 10vh auto;
}

h1, #submit {
    font-size: 3vh;
    margin: 2vh auto;
    font-weight: bold;
}

form {
    min-width: 33vw;
    max-width: 66vw;
    border-radius: 20px;
    padding: 1vh 1vw;
    margin: 3vh auto;
    background-color:lightslategray;
    box-shadow: 10px 10px 5px lightgrey;
}

label, input {
    display: block;
    margin: 1vh auto;
    width: 90%;
}

input {
    height: 3vh;
    border-radius: 5px;
}

input:placeholder-shown {
    font-size: 2vh;
}

input[type="text"]:focus, 
input[type="tel"]:focus, 
input[type="password"]:focus {
    outline: none;
    border: 1vh ridge lightgray;
}

#submit {
    border-radius: 10px;
    padding: 1vh 1vw;
    outline: none;
    height: 5vh;
}

#submit:hover {
    background-color: lightgray;
}