* {
    text-align: center;
}

ul, li {
    padding-left: 0;
    list-style: none;
}

/* -- STYLER L'INPUT : RETIRER LES FLECHES -- */

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* Chrome */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button { 
	-webkit-appearance: none;
	margin:0;
}

/* Opéra*/
input::-o-inner-spin-button,
input::-o-outer-spin-button { 
	-o-appearance: none;
	margin:0
}
