/* -- FONTS -- */

@font-face {
    font-family: 'Commodore Angled Regular';
    src: url('../fonts/commodore_angled_v1.2.eot');
    src: url('../fonts/commodore_angled_v1.2.eot?#iefix') format('embedded-opentype'),
         url('../fonts/commodore_angled_v1.2.woff2') format('woff2'),
         url('../fonts/commodore_angled_v1.2.woff') format('woff'),
         url('../fonts/commodore_angled_v1.2.ttf') format('truetype'),
         url('../fonts/commodore_angled_v1.2.svg#commodore_64_angledregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fluo Gums Regular';
    src: url('../fonts/fluo_gums.eot');
    src: url('../fonts/fluo_gums.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fluo_gums.woff2') format('woff2'),
         url('../fonts/fluo_gums.woff') format('woff'),
         url('../fonts/fluo_gums.ttf') format('truetype'),
         url('../fonts/fluo_gums.svg#fluo_gumsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ghost Smileys Regular';
    src: url('../fonts/ghostsmileys.eot');
    src: url('../fonts/ghostsmileys.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ghostsmileys.woff2') format('woff2'),
         url('../fonts/ghostsmileys.woff') format('woff'),
         url('../fonts/ghostsmileys.ttf') format('truetype'),
         url('../fonts/ghostsmileys.svg#ghost_smileysregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Twenty-Seven Regular';
    src: url('../fonts/20seven.eot');
    src: url('../fonts/20seven.eot?#iefix') format('embedded-opentype'),
         url('../fonts/20seven.woff2') format('woff2'),
         url('../fonts/20seven.woff') format('woff'),
         url('../fonts/20seven.ttf') format('truetype'),
         url('../fonts/20seven.svg#twenty-sevenregular') format('svg');
    font-weight: normal;
    font-style: normal;
}