$black_dark: #000000;
$black_medium: #040605;

$white: #ffffff;

$orange: #f6bd60;

$pink: #dd8cd9;

$blue-violet_dark: #28005f;
$blue-violet_medium: #2a1f77;

$blue_dark: #240046;
$blue_medium: #2084a0;
$blue_light: #41b3b9;