/*import fichier variables .scss*/
@import "variables";
@font-face {
    font-family: 'averta_demo_peregular';
    src: url('font/avertaregular-webfont.woff') format('woff2'),
         url('font/avertaregular-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;

}
/*---------------Global------------*/
body{
    font-family:averta_demo_peregular ;
    margin: 0px;
    color:$primary ;
}
/*---------------Header & Nav------------*/
header {
    display: flex;
    justify-content: space-between;
    color: $myColor;
    font-family: 'Franklin Gothic Heavy','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /*application imbrication*/
    nav {
    width: 80%;
    margin-right: 0%;
}
    ul {
    text-align: right;
    display: flex;
    flex-wrap: wrap;
    margin-top: 4%;
    margin-right: 4%;
    justify-content: flex-end;
}
    li {
    padding: 1%;
    list-style: none;
}

    a {
    text-decoration: none;
    color: $myColor;
}

    a:hover, .curent {
    color: $colorDesign;
}
}
/*fin imbrication*/
/*---------------Main-----------*/
.banner h1{
    color:white;
    text-decoration: underline;
}
.decoration{
    position: absolute;
    font-size: 2em;
    padding-top: 60px;
    margin-left: 30px;
}
.flex{
    width: 100%;
    margin-top: 40px;
    margin-bottom: 60px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
#main_logo {
    width: 30%;
    padding-right: 100px;
}
main p {
    font-family: averta_demo_peregula;
    color: $myColor;
    text-align: center;
    font-size: 1.2em;
    width: 80%;
    line-height:2em;
}
/*---------------Footer------------*/
footer {
    background-color: $colorDesign;
    color: white;
    padding: 5% 0%;
    display: flex;
    justify-content: space-between;
    font-family: 'Averta', Arial, Helvetica, sans-serif;
    margin: 1vh auto 0 auto;
    /*application imbrication*/
    img {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    margin-right: 4px;
}

    nav {
    width: 100%;
}

    ul {
    margin: 0;
    justify-content: space-between;
    text-align: right;
    display: flex;
    flex-wrap: wrap;
}

    li {
    padding: 1%;
    list-style: none;
}

     a {
    color: white;
    text-decoration: none;
}

    a:hover {
    color: $primary;
}
}
/*fin imbrication*/