body {
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

p {
    text-align: justify;
}

.color{
  float: left;
  width: 20px;
  height: 20px;
  margin : 5px;
}
.green{
  background-color: green;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
