/* -- FONTS -- */
@font-face {
  font-family: 'Commodore Angled Regular';
  src: url("../fonts/commodore_angled_v1.2.eot");
  src: url("../fonts/commodore_angled_v1.2.eot?#iefix") format("embedded-opentype"), url("../fonts/commodore_angled_v1.2.woff2") format("woff2"), url("../fonts/commodore_angled_v1.2.woff") format("woff"), url("../fonts/commodore_angled_v1.2.ttf") format("truetype"), url("../fonts/commodore_angled_v1.2.svg#commodore_64_angledregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fluo Gums Regular';
  src: url("../fonts/fluo_gums.eot");
  src: url("../fonts/fluo_gums.eot?#iefix") format("embedded-opentype"), url("../fonts/fluo_gums.woff2") format("woff2"), url("../fonts/fluo_gums.woff") format("woff"), url("../fonts/fluo_gums.ttf") format("truetype"), url("../fonts/fluo_gums.svg#fluo_gumsregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ghost Smileys Regular';
  src: url("../fonts/ghostsmileys.eot");
  src: url("../fonts/ghostsmileys.eot?#iefix") format("embedded-opentype"), url("../fonts/ghostsmileys.woff2") format("woff2"), url("../fonts/ghostsmileys.woff") format("woff"), url("../fonts/ghostsmileys.ttf") format("truetype"), url("../fonts/ghostsmileys.svg#ghost_smileysregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Twenty-Seven Regular';
  src: url("../fonts/20seven.eot");
  src: url("../fonts/20seven.eot?#iefix") format("embedded-opentype"), url("../fonts/20seven.woff2") format("woff2"), url("../fonts/20seven.woff") format("woff"), url("../fonts/20seven.ttf") format("truetype"), url("../fonts/20seven.svg#twenty-sevenregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* -- ANIMATIONS -- */
/* Fade out animation (slow).*/
@-webkit-keyframes fadeOutSlow {
  0%, 80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOutSlow {
  0%, 80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Fade out animation (fast).*/
@-webkit-keyframes fadeOutFast {
  0%, 50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOutFast {
  0%, 50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Fade in animation (slow). */
@-webkit-keyframes fadeInSlow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInSlow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Fade in animation (fast). */
@-webkit-keyframes fadeInFast {
  0%, 80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInFast {
  0%, 80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* -- PAGE -- */
/* -- Default screen if the device used is too small -- */
#small_screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Commodore Angled Regular", fantasy;
  font-size: 2rem;
  text-align: center;
  color: #41b3b9;
  background-color: #240046;
}

/* -- HOME PAGE -- */
#home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../../img/home.jpg");
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#home h1 {
  font-family: "Fluo Gums Regular", cursive;
  font-size: 2.5rem;
  text-align: center;
  color: #2084a0;
  text-transform: uppercase;
  margin-top: 200px;
}

#rules {
  font-family: "Commodore Angled Regular", fantasy;
  font-size: 1.3rem;
  text-align: center;
  color: #41b3b9;
  -webkit-animation: fadeInSlow 3s;
          animation: fadeInSlow 3s;
  opacity: 1;
  max-width: 90%;
  margin: 200px auto 40px auto;
}

#btn-start {
  font-family: "Twenty-Seven Regular", sans-serif;
  font-size: 1.75rem;
  text-align: center;
  color: #41b3b9;
  background-color: #28005f;
  border: 3px solid #41b3b9;
  border-radius: 200px;
  -webkit-animation: fadeInSlow 3s;
          animation: fadeInSlow 3s;
  opacity: 1;
  -webkit-transition: 1.75s;
  transition: 1.75s;
  display: block;
  margin: 0 auto 10rem auto;
  padding: 3vh;
  cursor: pointer;
}

#btn-start:hover {
  color: #2a1f77;
  text-shadow: 0px 0px 5px #dd8cd9, 0px 0px 5px #dd8cd9;
  -webkit-box-shadow: 0 0px 50px 0 #41b3b9 inset, 0px 0px 50px 0 #dd8cd9, 0 0px 50px 0 #41b3b9 inset, 0px 0px 50px 0 #dd8cd9;
          box-shadow: 0 0px 50px 0 #41b3b9 inset, 0px 0px 50px 0 #dd8cd9, 0 0px 50px 0 #41b3b9 inset, 0px 0px 50px 0 #dd8cd9;
}

/* -- PLAYGROUND -- */
.hidden {
  display: none !important;
}

.fadeOut {
  -webkit-animation: fadeOutSlow 3s;
          animation: fadeOutSlow 3s;
  opacity: 0 !important;
}

.fadeIn {
  -webkit-animation: fadeInSlow 3s;
          animation: fadeInSlow 3s;
  opacity: 1;
}

#playground {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../../img/playground.jpg");
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#character_0-block, #character_1-block {
  width: 50%;
}

#character_0-face, #character_1-face {
  font-family: "Ghost Smileys Regular";
  font-size: 300px;
  text-align: center;
  color: #2084a0;
  position: relative;
  top: -250px;
  margin-bottom: -200px;
}

.intro {
  font-family: "Twenty-Seven Regular", sans-serif;
  font-size: 20px;
  text-align: center;
  color: #f6bd60;
  text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
  margin-bottom: 2rem;
}

.btn-good_qual, .btn-bad_qual {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: 0 auto;
}

.btn-choice {
  font-family: "Commodore Angled Regular", fantasy;
  font-size: 12px;
  text-align: center;
  color: #41b3b9;
  background-color: #040605;
  border: 2px solid #41b3b9;
  border-radius: 80px;
  position: relative;
  padding: 10px;
  cursor: pointer;
  margin: 4px 2px;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

.btn-choice:hover {
  color: #040605;
  text-shadow: 0px 0px 5px #41b3b9, 0px 0px 5px #41b3b9;
  -webkit-box-shadow: 0 0px 50px 0 #41b3b9 inset, 0px 0px 50px 0 #41b3b9, 0 0px 50px 0 #41b3b9 inset, 0px 0px 50px 0 #41b3b9;
          box-shadow: 0 0px 50px 0 #41b3b9 inset, 0px 0px 50px 0 #41b3b9, 0 0px 50px 0 #41b3b9 inset, 0px 0px 50px 0 #41b3b9;
}

.btn-choice:active {
  outline: none;
}

.btn-fadeout {
  -webkit-animation: fadeOutSlow 0.5s;
          animation: fadeOutSlow 0.5s;
  opacity: 0;
}

#characters-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 20px;
  left: calc(50% - 100px);
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-animation: fadeOutSlow 2s;
          animation: fadeOutSlow 2s;
  opacity: 0;
}

#characters-message p {
  font-family: "Twenty-Seven Regular", sans-serif;
  font-size: 22px;
  text-align: center;
  color: #ffffff;
  -webkit-animation: fadeOutSlow 2s;
          animation: fadeOutSlow 2s;
  opacity: 0;
  padding: 5vw 0;
}

#btn-match {
  position: absolute;
  top: 300px;
  left: calc(50% - 50px);
  font-family: "Twenty-Seven Regular", sans-serif;
  font-size: 30px;
  text-align: center;
  color: #41b3b9;
  background-color: #28005f;
  border: 3px solid #41b3b9;
  border-radius: 200px;
  -webkit-animation: fadeInFast 2s;
          animation: fadeInFast 2s;
  opacity: 1;
  -webkit-transition: 1.75s;
  transition: 1.75s;
  outline: none;
  width: 100px;
  padding: 26px 0px 20px 0px;
  cursor: pointer;
}

#btn-match:hover {
  color: #2a1f77;
  text-shadow: 0px 0px 5px #dd8cd9, 0px 0px 5px #dd8cd9;
  -webkit-box-shadow: 0 0px 50px 0 #41b3b9 inset, 0px 0px 50px 0 #dd8cd9, 0 0px 50px 0 #41b3b9 inset, 0px 0px 50px 0 #dd8cd9;
          box-shadow: 0 0px 50px 0 #41b3b9 inset, 0px 0px 50px 0 #dd8cd9, 0 0px 50px 0 #41b3b9 inset, 0px 0px 50px 0 #dd8cd9;
}

#btn-match:active {
  outline: none;
}

#btn-match:disabled {
  cursor: default;
}

#match-result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 100px;
  left: calc(50% - 100px);
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Twenty-Seven Regular", sans-serif;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  -webkit-animation: fadeOutFast 5s;
          animation: fadeOutFast 5s;
  opacity: 0;
}

#btn-reload {
  position: absolute;
  top: 50%;
  left: calc(50% - 100px);
  font-family: "Twenty-Seven Regular", sans-serif;
  font-size: 30px;
  text-align: center;
  color: #41b3b9;
  background-color: #28005f;
  border: 3px solid #41b3b9;
  border-radius: 200px;
  -webkit-animation: fadeInSlow 2s;
          animation: fadeInSlow 2s;
  opacity: 1;
  -webkit-transition: 1.75s;
  transition: 1.75s;
  width: 200px;
  padding: 26px 0px 20px 0px;
  cursor: pointer;
}

#btn-reload:hover {
  color: #2a1f77;
  text-shadow: 0px 0px 5px #dd8cd9, 0px 0px 5px #dd8cd9;
  -webkit-box-shadow: 0 0px 50px 0 #41b3b9 inset, 0px 0px 50px 0 #dd8cd9, 0 0px 50px 0 #41b3b9 inset, 0px 0px 50px 0 #dd8cd9;
          box-shadow: 0 0px 50px 0 #41b3b9 inset, 0px 0px 50px 0 #dd8cd9, 0 0px 50px 0 #41b3b9 inset, 0px 0px 50px 0 #dd8cd9;
}

#btn-reload:disabled {
  cursor: default;
}
