@import '_variables';

@media all and (min-width: 1200px) {
    #main_logo {
        width: 20%;
    }
}

@media all and (min-width: 768px) {
    div {
        flex-direction: row;
    }
    article {
        width: 30%;
    }
}

@media all and (max-width: 767.98px) {
    div {
        flex-direction: column;
    }
}

@media all and (min-width: 720px) and (max-width: 1199.98px) {
    #main_logo {
        width: 30%;
    }
}

@media all and (max-width: 719.98px) {
    #main_logo {
        width: 40%;
    }
}

#status {
    font-size: 2em;;
}

div {
    display: flex;
    justify-content: space-around;
}

article {
    img {
        width: 60px;
        height: 60px;
        margin-top: 1vh;
    }
}

article h2{
    background-color: $shadeBlueMain;
}